<!doctype html>
{% extends "base.html" %}
{% block title %}Is this summary for {{rna_id}} good?{% endblock %}
{% block content %}
<div class="accordion" id="contextDisplay">
<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
      Context
    </button>
  </h2>
  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#contextDisplay">
    <div class="accordion-body">
      {{ context }}
    </div>
  </div>
</div>
</div>

  <div class="container-fluid text-wrap">
    <h1 class="text-center">{{ rna_id }}</h1>
    <p class="text-start">{{ summary }}</p>
  </div>


  <div class="container-fluid text-center">
    
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <button type="button" type="submit" class="btn btn-danger" id="bad_feedback" >Not Good</button>
      <button type="button" type="submit" class="btn btn-success" id="good_feedback">Good!</button>
    </div>
  
  </div>


    <div class="accordion" id="feedbackPromptDisplay">
    
    <div class="accordion-item">
      <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAdditional" aria-expanded="false" aria-controls="collapseAdditional">
          Additional Feedback
      </button>
      </h2>
      <div id="collapseAdditional" class="accordion-collapse collapse" data-bs-parent="#feedbackPromptDisplay">
        <div class="accordion-body">
            <p>Check whichever additional feedback you feel is necessary. Leaving blank implies that aspect of the summary/context is fine.</p>
    
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="false_positive">
            <label class="form-check-label" for="flexCheckDefault">
                ID is a false positive
            </label>
            </div>
    
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="hallucinations">
            <label class="form-check-label" for="flexCheckDefault">
                Contains hallucinations (fake references, made up facts etc)
            </label>
            </div>
    
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="inaccurate">
            <label class="form-check-label" for="flexCheckChecked">
                Contains Inaccurate text (statements not supported by the context)
            </label>
            </div>
    
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="contradictions">
            <label class="form-check-label" for="flexCheckDefault">
                Contains contradictions
            </label>
            </div>
    
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="specificity">
            <label class="form-check-label" for="flexCheckChecked">
                Overly specific (e.g. has very specific experimental method information)
            </label>
            </div>
    
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="bad_length">
            <label class="form-check-label" for="flexCheckDefault">
                Bad length (summary is too short/long)
            </label>
            </div>
    
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="mentions_ai">
            <label class="form-check-label" for="flexCheckChecked">
                Mentions being an AI
            </label>
            </div>
    
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="short_context">
            <label class="form-check-label" for="flexCheckChecked">
                Context too short
            </label>
            </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Prompts
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#feedbackPromptDisplay">
        <div class="accordion-body">
          <h4>Initial Prompt</h4>
          <p>You are an experienced academic and always provide references for each sentence you write. You are a researcher who always answers in a factual and unbiased way. Provide at least one reference per sentence you produce.As an experienced academic who ALWAYS provides references for each sentence you write, produce a summary from the text below, focusing on {{rna_id}} and using the references for each sentence. The reference for each sentence in the text is given at the end of the sentence, enclosed by []. You MUST provide at least one reference per sentence you produce. Use only the information in the context given below. Use 200 words or less.</p>
          <p>
          {{context}}
          <br>
          Summary:
          </p>
          <br>
          <h4>Revision prompt (if necessary)</h4>
          <p>Given the summary, and its original context, rewrite the summary to include references at the end of each sentence. References are provided in the original context, enclosed in [].</p>
          <p>Summary: {{summary}}</p>
          <br>
          <p>Original context:
            <br>
          {{context}}
          <br>
          Revised Summary: 
          </p>

        </div>
      </div>
    </div>

    </div>
  </div>

<script type="text/javascript">
  var good_button = document.getElementById("good_feedback")
  var bad_button = document.getElementById("bad_feedback")

  bad_button.onclick = function() {
      // Get all the checkbox results
      var additional_feedback = get_extra_feedback();
      
      additional_feedback.feedback = "bad";
      additional_feedback.rna_id = "{{rna_id}}";
      additional_feedback.summary_id = "{{summ_id}}";
      

      console.log(additional_feedback);
      
      send_feedback(additional_feedback);
  }

  good_button.onclick = function() {
      // Get all the checkbox results
      var additional_feedback = get_extra_feedback();
      
      additional_feedback.feedback = "good";
      additional_feedback.rna_id = "{{rna_id}}";
      additional_feedback.summary_id = "{{summ_id}}";
      

      console.log(additional_feedback);
      
      send_feedback(additional_feedback);
  }

  function get_extra_feedback() {
    var additional_feedback = new Object()
    additional_feedback.false_positive = document.getElementById("false_positive").checked;
    document.getElementById("false_positive").checked = false;

    additional_feedback.contains_hallucinations = document.getElementById("hallucinations").checked;
    document.getElementById("hallucinations").checked = false;

    additional_feedback.inaccurate_text = document.getElementById("inaccurate").checked;
    document.getElementById("inaccurate").checked = false;

    additional_feedback.contradictory = document.getElementById("contradictions").checked;
    document.getElementById("contradictions").checked = false;

    additional_feedback.over_specific = document.getElementById("specificity").checked;
    document.getElementById("specificity").checked = false;

    additional_feedback.bad_length = document.getElementById("bad_length").checked;
    document.getElementById("bad_length").checked = false;
    
    additional_feedback.mentions_ai = document.getElementById("mentions_ai").checked;
    document.getElementById("mentions_ai").checked = false;
    
    additional_feedback.short_context = document.getElementById("short_context").checked;
    document.getElementById("short_context").checked = false;


    return additional_feedback;

  }

  </script>

{% endblock %}
  
